<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        
    <link rel="icon" href="/images/favicon.gif" />
    <link rel= "stylesheet", href="/css/stilos.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <h3> {{titulo}}  </h3>

        <p><img class="portrait" src="./images/perro.jpg" alt="perro" width="275" height="183"><br>
        {{mensaje1}}  <br>seguimos avanzando!!!</p>

    </div>


{{>footer}}
</body>
</html>