<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        
    <link rel="icon" href="/images/favicon.gif" />
    <link rel= "stylesheet", href="/css/stilos.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <h3> {{titulo}}  </h3>
        <p>Este es un sitio de practica del curso NODEjs<br> Se usa data de mapbox.com y weatherbit.io, en la p&aacute;gina principal</p>
        <p><img class="portrait" src="./images/cruvblanco.jpg" alt="cruv" width="275" height="183"><br>
        {{mensaje1}}  <br>seguimos avanzando!!!</p>

    </div>


{{>footer}}
</body>
</html>