<!DOCTYPE html>
<html>
    <head>
        <title>No Found</title>
        <link rel="icon" href="/images/favicon.gif" />
        <link rel= "stylesheet", href="/css/stilos.css">
    </head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>{{titulo}}</h3>

    </div>



{{>footer}}
</body>
</html>