<footer>
<hr style="height:3px;border-width:2;color:#90DBE1;background-color:#90DBE1">
<div>
<a href="/">Principal</a>
<a href="/about">About</a>
<a href="/ayuda">Ayuda</a>

<p>Author: Diego Santimateo G.<br>
<a href="mailto:dsantig@hotmail.com">Env&iacute;a un mensaje</a></p>
</div>
</footer>
